<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <h5>Tu id es incorrecto o no activaste el boton de compartir estadisticas</h5>
    <a href="https://datosdota.herokuapp.com/register/">Regresar</a>
</body>
</html>