  <!DOCTYPE html>
  <html lang="es">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <title>Registro</title>
    
    <link rel="stylesheet" type="text/css" href="https://necolas.github.io/normalize.css/8.0.1/normalize.css">
    <link rel="stylesheet" type="text/css" href="../css/style.css">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://kit.fontawesome.com/43cfb2be8b.js"></script>
  </head>
  <body>
    <!--navbar-->
    <nav class="navbar navbar-expand-lg navbar-dark">
      <div class="container">
        <a class="navbar-brand" href="https://dotareact.herokuapp.com/">Dota React</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a class="nav-link" href="https://dotareact.herokuapp.com/"><i class="fas fa-power-off"></i> Inicio</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#"><i class="fas fa-user-tie"></i> Acerca de</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#"><i class="fas fa-people-carry"></i> Servicios</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#"><i class="fas fa-phone-square-alt"></i> Contacto</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
    <br>
    <!--formulario de registro-->
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <div class="jumbotron text-center" id="formulario">
            <div class="container">
              <h1>Antes de Registrarte:</h1>
            </div>
            <br>
            <br>
            <div class="container">
              <p class="text-justify">Primero debes activar el boton de: "compartir estadisticas de partidas", que lo podras encontrar en las opciones avanzadas dentro del juego.</p>
            </div>
            <div class="container">
              <img src="../img/dota 1a.jpg" id="img1">
            </div>
            <br>

            <div class="container">
              <img src="../img/dota 2a.jpg" id="img2">
            </div>
          </div>           
        </div>
        <div class="col-md-6">
          <div class="jumbotron" id="formulario">
            <div class="panel-heading text-center">
             <h1>Registro de Usuarios</h1>
           </div>
           <br>
           <br>

           <div class="panel-body">
            <div id="app">



              <form @submit.prevent="addUser">
                <div class="form-group">
                  <label for="exampleFormControlInput1">Nombre y apellidos</label>
                  <input type="text" class="form-control" id="exampleFormControlInput1" v-model="user.name" placeholder="Ingresa tus datos">
                </div>
                <div class="form-group">
                  <label for="exampleFormControlInput1">Correo electronico</label>
                  <input type="email" class="form-control" id="exampleFormControlInput1" v-model="user.email" placeholder="Ingresa tu correo">
                </div>
                <div class="form-group">
                  <label for="exampleFormControlInput1">Celular</label>
                  <input type="text" class="form-control" id="exampleFormControlInput1" v-model="user.telefono" placeholder="Ingresa tu celular">
                </div>
                <div class="form-group">
                  <label for="exampleFormControlInput1">ID de Jugador</label>
                  <input type="text" class="form-control" id="exampleFormControlInput1" v-model="user.id" placeholder="Ingresa tu id de amigo Dota2 (ejm: '199031127')">
                </div>
                <div class="form-group">
                  <label for="exampleFormControlTextarea1">Escribe una sugerencia</label>
                  <textarea class="form-control" id="exampleFormControlTextarea1" placeholder="Ingresa una sugerencia (opcional)" v-model="user.sugerencia" rows="3"></textarea>
                </div>
                <div class="text-right">
                  <button type="submit" class="btn btn-primary">Enviar</button>
                  <button onclick="location.href='https://dotareact.herokuapp.com/'" type="button" class="btn btn-primary">Regresar</button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <br>


  <!-- Footer -->
  <footer class="footer text-center">
    <div class="container">
      <div class="row">

        <!-- Footer Location -->
        <div class="col-lg-4 mb-5 mb-lg-0">
          <br>
          <h5 class="text-uppercase mb-4">Ubicación</h5>
          <p class="lead mb-0">Lima - Perú</p>
        </div>

        <!-- Footer Social Icons -->
        <div class="col-lg-4 mb-5 mb-lg-0">
          <br>
          <h5 class="text-uppercase mb-4">Redes Sociales</h5>
          <a class="btn btn-outline-light btn-social mx-1" id="fb" href="#">
            <i class="fab fa-fw fa-facebook-f"></i>
          </a>
          <a class="btn btn-outline-light btn-social mx-1" id="tw" href="#">
            <i class="fab fa-fw fa-twitter"></i>
          </a>
          <a class="btn btn-outline-light btn-social mx-1" id="lk" href="https://www.linkedin.com/in/beni-alexis-luyo-huam%C3%A1n-882b46166/">
            <i class="fab fa-fw fa-linkedin-in"></i>
          </a>
          <a class="btn btn-outline-light btn-social mx-1" id="ig" href="#">
            <i class="fab fa-fw fa-instagram"></i>
          </a>
          <a class="btn btn-outline-light btn-social mx-1" id="st" href="#">
            <i class="fab fa-fw fa-steam"></i>
          </a>
        </div>

        <!-- Footer About Text -->
        <div class="col-lg-4">
          <br>
          <h5 class="text-uppercase mb-4">Desarrollo de app's web</h5>
          <p class="lead mb-0">Buscamos desarrolladores</p>


          <!-- Footer About Text -->
          <div class="col-lg-4">
            <br>
          </div>
        </div>
      </div>
    </div>
  </footer>

  <!-- Copyright Section -->
  <section class="copyright py-4 text-center text-white">
    <div class="container">
      <small>Copyright &copy; DotaReact - 2019</small>
    </div>
  </section>

  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/vue"></script>
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  <script>
    new Vue({
      el: '#app',
      data (){
       return {
        users:[],
        user:{id:'',name:'',email:'',telefono:'',sugerencia:''},
      } 
    },

    methods:{
     addUser:function(){
       console.log(this.user);
       const params = this.user;
       console.log(params.name);
       axios.post('/create',params)
       .then((response) => {
          alert('Tu id es incorrecto o no activaste el boton de compartir estadisticas.');
       });

       this.user = {id:'',name:'',telefono:'',email:'',sugerencia:''};  
     }
   }
 });
</script>

</body>
</html>